
<br>
<div class="mb-3">
	<h1 class="display-4">
	<%= @guest.first_name %>
	<%= @guest.last_name %>
</h1>
</div>

<%= render 'form', assignment: @assignment %>
<br>
<%= link_to 'Back', guest_url(@assignment.guest_id), class:"btn btn-dark" %>